# MacOS system files
.DS_Store

# Project files
run-aligner.md
corpus/
resources/
alpha/
beta/

# Webdriver
geckodriver.log

# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
nosetests.xml
coverage.xml
.pytest_cache/

# Sphinx documentation
docs/_build/
